In [30]:
import numpy as np
import pandas as pd

# import data_files


# import codecs
# import talib

In [ ]:
import os

class data:
    def __init__(self):
        self.files = []
        for file in os.listdir():
            if file[-4:] == '.csv':
                self.files.append(file)
        print('Доступные файлы:', self.files)

    def read_csv(self, file_num=0):
        self.file_name = self.files[file_num]

        split_datas = self.file_name.split('_')
        self.ticker = split_datas[0]
        self.interval = split_datas[1]
        self.start_data = split_datas[2]
        self.end_data = split_datas[3].split('.')[0]

        self.table = pd.read_csv(self.file_name)

    def get_info(self):
        print("Тикер: ", self.ticker)
        print("Интервал: ", self.interval)
        print("Дата начала:", self.start_data)
        print("Дата конца:", self.end_data)

    def plot_table(self):
        pass

In [39]:
data = data()
data.read_csv()
data.get_info()

Доступные файлы: ['SBER_60_2023-11-10_2024-11-09.csv']
Тикер:  SBER
Интервал:  60
Дата начала: 2023-11-10
Дата конца: 2024-11-09

In [41]:
data.table.head()

                 begin    open   close    high     low         value    volume
0  2023-11-10 09:00:00  276.99  276.99  276.99  276.99  1.192996e+07     43070
1  2023-11-10 10:00:00  276.99  280.09  281.30  276.60  4.983073e+09  17835820
2  2023-11-10 11:00:00  280.09  279.89  280.47  279.12  1.503269e+09   5375140
3  2023-11-10 12:00:00  279.90  279.90  280.30  279.50  9.214569e+08   3291130
4  2023-11-10 13:00:00  279.91  279.50  280.03  279.11  8.273971e+08   2959960